.contact-profile {
  position: relative;
  width: 100%;
  max-width: 420px;
  margin: 25vh auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: var(--fs-lg) var(--fs-md);
  background-color: #fff;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.back-arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: var(--fs-md);
  cursor: pointer;
}


.contact-profile>span {
  font-size: 2.5rem;
  color: #333;
}

.contact-profile-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}