.user-edit-form {
  width: 100%;
  max-width: 425px;
  margin: 25vh auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--space-xs) var(--space-sm);
  background-color: #fff;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.3);
  
}

.user-edit-head {
  text-align: center;
  color: #333;
  font-weight: 500;
  font-size: var(--fs-md);
}

.user-edit-form>input {
  height: 2rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  padding-left: var(--space-xs);
}

.edit-submit, .edit-cancel
 {
  height: 2rem;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: var(--fs-sm);
  color: #fff;
  cursor: pointer;
}

.edit-submit {
  background-color: #3d7df3;
}

.edit-cancel {
  background-color:rgb(148, 9, 9) ;
}

