.user-profile {
  width: 100%;
  max-width: 420px;
  margin: 25vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: var(--fs-lg) var(--fs-md);
  /* background-color: pink; */
  background-color: #fff;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.user-profile>span {
  font-size: 2.5rem;
  color: #333;
}

.user-profile-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.profile-action-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-btn {
  height: 2rem;
  background-color:#3d7df3;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: var(--fs-sm);
  cursor: pointer;
}

.delete-btn {
  height: 2rem;
  background-color: rgb(148, 9, 9);
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: var(--fs-sm);
  cursor: pointer;
}